<!DOCTYPE html>
<html>
  <head>
    <title>SimpleState</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <%= content_tag :body, class: specific_page_vue do %>
    <%= yield %>
  <% end %>
</html>
